#wrapper {
	.admin-sidebar-wrapper {
		width: 250px !important;
	}

	.admin-page-content-wrapper {
		#page-container {
			width: calc(100% - 250px) !important;
			float: right;
			#container {
				.page-header {
					padding: 0 !important;
				}

				.header {
					display: flex;
					margin: 24px 0;

					#search-book-form {
						flex: 4;
						margin: 0 !important;
					}

					#add-book-button {
						flex: 1;
						a {
							float: right;
						}
					}
				}
			}
		}
	}
}

.test-css {
	color: red;
}
