default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: intern_2022_book_review_development

test:
  <<: *default
  database: intern_2022_book_review_test

production:
  <<: *default
  database: intern_2022_book_review_production
  username: intern_2022_book_review
  password: <%= ENV['INTERN_2022_BOOK_REVIEW_DATABASE_PASSWORD'] %>
