$green-medium-light: #bdefd7;
$green-extra-light: #f3f5f4;
$gray-extra-light: #f3f3f3;
$gray-medium-light: #adadad;
$light-coffe: #F7ECDE;
$black: #333333;
$green: #42855B;
$green-button-normal: #7FB77E;
$green-button-hover: #B1D7B4;
