<div id="sidebar-wrapper">
  <div class="sidebar-avatar">
    <%= image_tag "avatar_example.png", alt: t("avatar"), class: "avatar" %>
  </div>
  <ul class="sidebar-nav">
    <li><%= link_to t("home"), root_path %></li>
    <li><%= link_to t("book"), "#" %></li>
    <li><%= link_to t("sign_in"), "#" %></li>
  </ul>
</div>
